.timer-page {
  max-width: 50em;
  text-align: center;
}

.header {
  font-weight: 400;
}

.coffee-image {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
}

.timer {
  font-size: 10em;

}

.buttons {
  margin-top: 5em;
}

.lean-btn {
  margin: 0.20em 0.20em 0.20em 0.20em;
}

.vertical-line{
  background-color: #792e2c;
  height: 0.33em;
}

.credits {
  margin-top: 10em;
  font-size: small;
  text-align: center;
}