/* app css stylesheet */

.timer-page {
  text-align: center;
}

.header {
  font-weight: 400;
}

.coffee-image {
  margin: 0 auto;
  max-width: 10%;
  height: auto;
}

.timer {
  font-size: 32px;

}

.buttons {

}

.vertical-line{
  background-color: brown;
  text-align: center;
}