/* app css stylesheet */

.timer-page {
  max-width: 50em;
  text-align: center;
}

.header {
  font-weight: 400;
}

.coffee-image {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
}

.timer {
  font-size: 32px;

}

.lean-btn {
  margin: 0.20rem 0.20rem 0.20rem 0.20rem;
}

.vertical-line{
  background-color: #792e2c;
  text-align: center;
  height: 10px;
}

.credits {
  text-align: center;
  font-size: small;
}