<div class="container timer-page " data-ng-model="voting">
    <div class="row">
        <p class="logo" ng-class="{ 'projector' : projector }">Lean <i class="fa fa-coffee"></i> Timer</p>
        <!--<img class="coffee-image img-fluid invert" src="images/logo.png">-->
    </div>

    <div class="row">
        <h1 class="header">Welcome to Lean Coffee</h1>
    </div>

    <div class="row messages">
        <div id="welcome-message" ng-show="!discussing && !voting" class="alert alert-info" role="alert">
            Pick a topic and discuss.
        </div>

        <div ng-show="voting" class="alert alert-success" role="alert">
            That was great! Want more of the same?
        </div>

        <div ng-show="discussing" class="alert alert-warning" role="alert">
            Remember to stay on topic!
        </div>
    </div>

    <hr class="row vertical-line">

    <div class="timer row">
        <timer id="leanTimer" countdown="timers.topicMinutes * 60" autostart="false" interval="1000">{{minutes}}:{{sseconds}}
            <!--<progress id="progressBar" class="progress progress-striped" value="{{progressBar}}" max="100">-->
            <!--{{progressBar}}%-->
            <!--</progress>-->
        </timer>
    </div>

    <hr class="row vertical-line">

    <div class="buttons row">
        <button class="btn btn-primary btn-lg btn-primary lean-btn" id="start_button" ng-show="!voting" ng-click="startTopic()">
            Start on a new topic
        </button>

        <button class="btn btn-primary btn-lg btn-success lean-btn" id="interesting_button" ng-show="voting"
                ng-click="continueDiscussing(true)">Yes, this is fascinating!
        </button>
        <button class="btn btn-primary btn-lg btn-warning lean-btn" id="ambivalent_button" ng-show="voting"
                ng-click="continueDiscussing(false)">Hmm, just a bit more...
        </button>
        <button class="btn btn-primary btn-lg btn-danger lean-btn" id="new_button" ng-show="voting" ng-click="startTopic()">Let's
            change the subject
        </button>
    </div>

    <div class="settings-buttons row ">
        <button data-ng-model="projector" class="btn btn-secondary btn-sm lean-btn settings-btn" id="projector_button" ng-click="projector = !projector">
            {{projector ? "Desktop Mode" : "Projector Mode"}}
        </button>
        <button class="btn btn-secondary btn-sm lean-btn settings-btn" id="mute_button" ng-click="toggleSound()">
            {{tickSound.muting ? "Sounds off" : "Sounds on"}}
        </button>

        <button class="btn btn-secondary btn-sm lean-btn settings-btn" id="settingsPopover">
            Settings
        </button>


    </div>
</div>
